Body {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    height: 70vh;
    margin: 0;
    padding: 0;
}
/* Estilos Navbar */

nav {
    background-color: #080707;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    width: 400px;
    justify-content: space-around;
    padding: 5px;
    list-style: none;
}

.icon {
    background-color: white;
    border-radius: 50%;
    padding: 1em;
    width: 4em;
    height: 4em;
    margin-top: 1em;
}

div {
    background-color: white;
    border-radius: 50%;
    padding: 1em;
    width: 4em;
    height: 4em;
    margin-top: 1em;
}

img {
    width: 4em;
    height: 4em;
}

li:hover {
    border: 10px solid #c28181;
}    
#navnote:hover {
    border: 10px solid #c28181;
}
/* Desde aqui estilos marimba */
.container {
    width: 700px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marimba-key {
    display: inline-block;
    width: 32px;
    height: 150px;
    border: 1px solid black;
    text-align:center;
    line-height: 150px;
    /* position: relative; */
    cursor: pointer;
    background-color: rgb(215, 98, 98);
    border: 1px solid rgb(41, 9, 9);
    margin: 0 2px; /* Espacio entre teclas */
    transform-origin: botto20;
    padding: 0.9em 0em;
    font-size: 0.8em;
    color:rgb(144, 137, 137);
    border-radius: 8px;
}
#keyDO { width: 40px; height: 100px; }
#keyRE { width: 40px; height: 140px; }
#keyMI { width: 40px; height: 180px; }
#keyFA { width: 40px; height: 210px; }
#keySOL { width: 40px; height: 240px; }
#keyLA { width: 40px; height: 260px; }
#keySI { width: 40px; height: 280px;}

.circle{
    background-color: rgb(230, 166, 166);
    height: 1em;
    width: 1em;
    border: rgb(77, 75, 75) solid 0.1em;
    border-radius: 50%;
}
.circle:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* Estilos para el efecto de la tecla presionada */
.marimba-key: active {
    transform: translateY(2px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


