/* Estilos para el body y HTML */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Estilos para el contenedor principal */
.container {
    text-align: center;
}

/* Estilos para el encabezado */
h1 {
    color: rgb(201, 151, 151);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4rem;
}

/* Estilos para la lista */
ul {
    display: flex;
    list-style: none;
    padding: 5%;
    background-color: black;
    justify-content: space-around;
}

/* Estilos para los elementos de la lista */
li {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 8%;
    list-style: none;
    border: black solid 20px;
    border-radius: 50%;
}

/* Estilos para el hover en los elementos de la lista */
li:hover {
    border-color: rgb(201, 151, 151);
}

/* Estilos para las imágenes */
img {
    height: 12em;
}

/* Estilos para el contenedor principal */
.wrapper {
    width: 780px;
    border-radius: 20px;
    padding: 35px;
    background: #141414;
}

/* Estilos para el encabezado dentro del contenedor */
.wrapper header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para el título dentro del encabezado */
header h2 {
    font-size: 1.6rem;
}

/* Estilos para las columnas dentro del encabezado */
header .column {
    display: flex;
    align-items: center;
}

/* Estilos para los textos en las columnas del encabezado */
header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

/* Estilos para el input del slider de volumen */
.volume-slider input {
    outline: none;
    accent-color: #fff;
}

/* Estilos para el input del checkbox de teclas */
.keys-checkbox input {
    width: 60px;
    height: 30px;
    outline: none;
    cursor: pointer;
    position: relative;
    appearance: none;
    border-radius: 30px;
    background: #4b4b4b;
}

/* Estilos para la apariencia del checkbox */
.keys-checkbox input::before {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: inherit;
    top: 50%;
    left: 5px;
    position: absolute;
    background: #8c8c8c;
    transform: translateY(-50%);
}

/* Estilos para el cambio de estado del checkbox */
.keys-checkbox input:checked::before {
    left: 35px;    
    background: #fff;
    transition: all 0.3s ease;
}

/* Estilos para el contenedor de las teclas del piano */
.piano-keys {
    display: flex;
    margin-top: 40px;
}

/* Estilos para las teclas del piano */
.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

/* Estilos para las teclas negras del piano */
.piano-keys .black {
    width: 44px;  
    height: 140px;
    z-index: 2;
    margin: 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

/* Estilos para las teclas blancas del piano */
.piano-keys .white {
    width: 70px;  
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

/* Estilos para el estado activo de las teclas blancas del piano */
.piano-keys .white:active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

/* Estilos para el texto en las teclas del piano */
.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
}















/* *{
    margin:0;
    padding: 0;
}
body, html{
    height: 100%;
    margin: 0;
    background-color: black;
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 { 
    text-align: center;
    color: rgb(208, 147, 147);
    background-color: black;
    font-family: 'sans';
}
ul {
    display: flex;
    padding: 5%;
    background-color: black;
    justify-content: space-around;

}
.instrumento {
    padding: 10%;
    list-style: none;
    background-color: white;
    border: black;
}
li{
    
}
img{
    height: 100px;

} */